@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

:root{
    --tomato: hsl(4, 100%, 67%);
    --forGradient: rgba(254, 85, 114, 1);

    --errorFormSpan:rgba(225, 121, 112, 1); 
    --errorFormBackground: rgba(255, 232, 230, 1);

    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

.main-container{
    height: 100vh;
    background-color: var(--charcoalGrey);

    display: flex;
    align-items: center;
    justify-content: center;
}

.front{
    width: 925px;
    height: 640px;
    background-color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border: none;
    border-radius: 30px;
}

.container{
    width: 400px;
}

.container h1{
    font-size: 42px;
    color: var(--darkSlateGrey);
    margin-bottom: 25px;
    font-weight: 700;
}

.container p{
    max-width: 360px;
    font-size: 16px;
    margin-bottom: 30px;
}

.container2{
    margin-right: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop{
    display: block;
}

.responsive{
    display: none;
}

.list-item{
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-item img{
    margin: 0 15px 0 0;
    width: 20px;
}

.front form{
    margin-top: 45px;
}

.front form p{
    font-size: 12px;
    font-weight: 700;
    color: var(--darkSlateGrey);
    margin-bottom: 15px;
}

.front form input{
    text-indent: 25px;
    height: 45px;
    width: 375px;
    font-size: 15px;
    border: 1px solid var(--grey);
    border-radius: 10px;
}

.front form input:focus{
    outline: none;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.error{
    font-weight: 700;
    margin-left: 190px;
    color: var(--errorFormSpan);
    font-size: 12px;
    margin-bottom: 15px;
    display: none;
}

.btn{
    margin-top: 25px;
    height: 55px;
    width: 375px;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--charcoalGrey), var(--charcoalGrey)); /* Color de fondo inicial */
    transition: all 0.7s ; /* Transición para el color de fondo */
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.btn:hover{ 
    transition: all 0.7s; /*this does not work, i suppose that is because i am working with background images*/
    background-image: linear-gradient(to right, var(--tomato), var(--forGradient));
    box-shadow: 0px 5px 15px 3px var(--tomato); /* Ajusta los valores según tu preferencia */
}
      


.back{
    width: 515px;
    height: 515px;
    background-color: var(--white);

    border: none;
    border-radius: 30px;

    display: none;
    justify-content: center;
    flex-direction: column;
}   

.back img{
    margin: 65px 0 45px 65px; /*top right bottom left*/
    width: 65px;
}

.back h1{
    font-size: 40px;
    color: var(--darkSlateGrey);
    margin: 0px 0px 25px 65px;
    max-width: 305px;
}

.back p{
    max-width: 360px;
    font-size: 16px;
    margin: 0 0 45px 65px;
}

.back span{
    font-weight: 700;
}

.btn-close{
    margin: 0 0 40px 65px;
    height: 55px;
    width: 375px;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--charcoalGrey), var(--charcoalGrey)); /* Color de fondo inicial */
    transition: all 0.7s ; /* Transición para el color de fondo */
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.btn-close:hover{ 
    transition: all 0.7s; /*this does not work, i suppose that is because i am working with background images*/
    background-image: linear-gradient(to right, var(--tomato), var(--forGradient));
    box-shadow: 0px 5px 15px 3px var(--tomato); /* Ajusta los valores según tu preferencia */
}

@media screen and (max-width: 1140px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--charcoalGrey);
    }

    .main-container{
        width: 90%;
    }

    .container2{
        margin-right: -10px;
    }

    .container2 img{
        max-width: 90%;
    }
}

@media screen and (max-width: 940px) {
    .container, .container2{
        max-width: 80%;
        margin: 0 2.5% 0 2.5%;
    }

    .container2{
        justify-content: left;
    }
}

@media screen and (max-width: 768px){
    .main-container{
        width: 100%;
    }
    .desktop{
        display: none;
    }

    .responsive{
        display: flex;
    }

    .container2{
        justify-content: center;
        width: auto;
        height: auto;
        order: 1;
    }

    .container{
        max-width: auto;
        height: auto;
        order: 2;
    }

    .front{
        flex-direction: column;
        height: 100vh;
        max-width: auto;
        border-radius: 0px;
    }

    .container ul, .container h1{
        max-width: 365px;
    }

    .container h1{
        text-align: center;
    }
}

@media screen and (max-width: 468px) {
    li, button, form{
        font-size: 14px;
    }

    .list-item{
        margin-left: 20px;
    }

    .container p{
        margin-left: 20px;
        font-size: 14px;
    }

    .container2 img{
        margin: -25px 0 0 0;
    }

    button, input{
        max-width: 350px;
    }

    form{
        margin-left: 0;
    }

    form p{
        margin-left: 0;
    }

    .error span{
        margin-left: 150px;
    }

    .flex-container p, .flex-container .error{
        width: 150px;
    }
}
